// 基础配色
$white: #fefdff;
$black: #000;

// 系统配色
$title: #2c3e50;
$word: #34495e;
$base: #f18f01;
$quote: #99c24d;
$special: #c1bfb5;
$background: #ebeff5;

@mixin flex($flow: row wrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}
