$white: #fff;
$black: #000;
$word: #354a5e;
$base: #e7731e;
$special: #7f8c8d;
@mixin chosen-item {
    border-bottom: 3px solid $base;
}

@mixin flex($flow: row wrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin fix($left: 0px, $top: 0px) {
    position: fixed;
    left: $left;
    top: $top;
}

@mixin clear-fix($element) {
    #{$element}:before,
    #{$element}:after {
        content: "";
        display: table;
    }
    #{$element}:after {
        clear: both;
    }
    #{$element} {
        *zoom: 1;
    }
}

